// сброс стилей кнопки
%btn-reset {
  padding: 0;
  color: $c-black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

// сброс стилей листинга
%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
