*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  height: -webkit-fill-available;
  min-height: 100%;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.3;
  font-family: $main-font;
  color: $c-black;
  background: linear-gradient(124.44deg, rgba(205, 255, 222, 0.2) 23.25%, rgba(255, 255, 255, 0) 117.8%), #f2f1f8;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: $c-black;
  text-decoration: none;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.rouble {
  font-family: $main-font;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
