*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  height: -webkit-fill-available;
  min-height: 100%;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body {
  position: relative;
  min-width: 320px;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.3;
  font-family: $main-font;
  color: $c-black;
  background: linear-gradient(124.44deg, rgba(205, 255, 222, 0.2) 23.25%, rgba(255, 255, 255, 0) 117.8%), #f2f1f8;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: $c-black;
  text-decoration: none;
}

button {
  font-weight: 300;
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

address {
  display: inline;
  font-style: normal;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

dl {
  margin: 0;
  padding: 0;
}

.heading {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.content {
  flex: 1 0 auto;
}

input {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  border: none;
}

textarea {
  border: 0;
  resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  appearance: number-input;
}

.rouble {
  font-family: $main-font;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.form-group {
  width: 100%;
}

.link {
  color: $c-link;
}
