// псевдоэлемент
@mixin pseudo {
  content: "";
  position: absolute;
}

@mixin list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-reset {
  padding: 0;
  color: $c-black;
  background-color: transparent;
  border: none;
}

@mixin link {
  color: $c-link;
}

@mixin heading {
  margin: 0;
  padding: 0;
}

@mixin webkit-box($countLine) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $countLine;
  overflow: hidden;
  word-break: break-all;
}
