// псевдоэлемент
@mixin pseudo($content: "", $pos: absolute, $display: block) {
  content: $content;
  position: $pos;
  display: $display;
}

// Обрезка многострочного текста троеточием
@mixin truncate-multiline($line-clamp, $word-break: break-word) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
  overflow: hidden;
  word-break: $word-break;
}

// Обрезка текста троеточием
@mixin truncate($max-width: 100%) {
  display: block;
  width: 100%;
  max-width: $max-width;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
