// BREAKPOINTS
$laptop-max-width: 1500px; // Брейкпоинт для ноутбука
$tab-max-width: 1280px; // Брейкпоинт для большого планшета
$tab-mid-width: 1024px; // Брейкпоинт для малого планшета
$mobile-max-width: 767px; // Брейкпоинт для смартфона

// PADDINGS
$container-desktop-padding: 30px; // Внутренний отступ для десктопа
$container-tab-padding: 20px; // Внутренний отступ для планшета
$container-mobile-padding: 10px; // Внутренний отступ для смартфона

// COLORS
$c-black: #000000;
$c-white: #ffffff;

// FONTS
$main-font: "NotoSans", Helvetica, Arial, sans-serif;

// OTHERS
